<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.trackmysleepquality">
<uses-permission
    android:name="android.permission.FOREGROUND_SERVICE"

    />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Exam Cheating Academy"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <receiver android:name=".RemoteControlReceiver">
<intent-filter>
    <action android:name="android.intent.action.MEDIA_BUTTON"></action>
    <action   android:name="android.intent.action.SCREEN_ON" ></action>

    <action   android:name="android.intent.action.HEADSET_PLUG" ></action>
</intent-filter>
        </receiver>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ttsprogram"
            android:label="Text to Speech Player"/>
        <activity
            android:name=".ttsbetoltes"
            android:label="@string/title_activity_ttsbetoltes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.trackmysleepquality.ttsprogram" />
        </activity>

        <service android:name=".TTSService">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"></action>
            </intent-filter>


        </service>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>